<nav class="navbar fixed-top bg-body-tertiary">
  <div class="container-fluid">
    <%= link_to "ðŸ Awesome Garage", root_path, class: "navbar-brand" %>
    <ul class="navbar-nav">
      <li class="nav-item">
        <%= link_to "Home", cars_path, class: "nav-link active" %>
      </li>
      <li class="nav-item">
        <%= link_to "My garage", favorites_path, class: "nav-link" %>
      </li>
    </ul>
  </div>
</nav>
