<nav class="navbar fixed-top bg-body-tertiary">
  <div class="container-fluid">
    <%= link_to "ðŸ Awesome Garage", root_path, class: "navbar-brand" %>
    <div class="navbar-nav d-flex flex-row">
      <%= link_to "Home", cars_path, class: "nav-link pe-3" %>
      <%= link_to "My garage", favorites_path, class: "nav-link" %>
    </div>
  </div>
</nav>
