.owner-badge {
  // figured out height from inspecting and adding box model heights
  margin-top: -20.5px;
  padding: 10px 15px;
  // sets width = to content
  width: max-content;
  background-color: blue;
  font-size: 14px;
  color: white;
  border-radius: 50%;
  text-align: right;
}
